<h1>Esse é o drink: <%= @cocktail.name %></h1>
<%= cl_image_tag @cocktail.photo.key, height: 300, width: 250, crop: :fill if @cocktail.photo %>
<ul>
   <% @cocktail.doses.each do |dose| %>
    <li>
      <%= dose.description %> <%= dose.ingredient.name %>
      <%= link_to dose_path(dose), method: :delete do%>
        <p>delete</p>
      <%end%>
      <% link_to "remova essa dose", dose_path(dose), method: :delete %>
    </li>
  <% end %>
</ul>

<%= link_to "Crie a sua dose!", new_cocktail_dose_path(@cocktail) %>
<br>
<%= link_to 'Voltar ao Index', cocktails_path%>
